.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.textField-Header {
  font-size:25px;
  font-weight: bold;
}

.textField {
  width: 60%;
}

button {
  margin-left: 20%;
}
.textPropertiesContainer {
  margin-top: 20px;
}
canvas {
  width: 30%;
  position: absolute;
  right: 0;
}
.App { 
  position: absolute;
  width: 70%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
