.textField-Header {
  font-size:25px;
  font-weight: bold;
}

.textField {
  width: 25%;
}

#root {
  margin: 1% 0 0 1%;
  width:99%;
}

button {
  float: right;
}
.textPropertiesContainer {
  margin: 20px 0 20px 0;
  overflow-y: scroll;
  width: 100%;
  height: 300px;
}
.canvas-wrapper {
  margin-left:2%;
  width: 45%;
  float:left;
  overflow: scroll;
  height: 95vh;
}
canvas {
  width: 1280px;
  height: 720px;
}

.App {
  float: left;
  width: 50%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
